body {
    font-size: 21px;
    font-family: "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    background-color: black;
    padding: 5px;
    cursor: pointer;
}

.outbound {
    text-decoration: underline overline #FF3028;
}

img {
    max-width: min(600px, 75vw);
    display: block;
    margin: 10px auto 20px;
}

.backlinks {
    font-family: monospace;
}

.flex {
    display: flex;
}

.internal:hover {
    padding: 0px;
}

.internal::before {
    content: " { ";
}
    
.internal::after {
    content: " } ";
}

.content-class {
    margin: 0.5em;
    padding: 1em;
    border: 5px solid grey;
    max-width: 33%;
    min-width: min(650px, 80vw);
    height: fit-content;
}

.content-class:hover {
    border: 5px solid black;
}

.header {
    min-width: 20px;
    position: relative;
}

.nav {
    position: absolute;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.pulse-animation {
    animation: color-change 1s;
}

@keyframes color-change {
    0% { color: black; }
    30% { color: blue; }
    100% { color: black; }
}